@import "_global";
@import "_vars";


.header {
    background-image: url(../images/header/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header__inner {
}
.header__top {
    padding-top: 100px;
    padding-bottom: 70px;
  
}
.header__top-title {
    text-align: center;
    max-width: 750px;
    min-height: 274px;
    border: 1px solid #5c5c5c;
    font-size: 50px;
    padding: 55px 10px;
    letter-spacing: 3px;
    color: #fff;
    margin:  0 auto;
    line-height: 90px;
    

}
.header__top-title--yellow {
    color: #f7ac53;
}
.header__content {
    text-align: center;
    padding: 10px 0;
    
}
.header__list {
    display: flex;
    justify-content: center;
}
.header__list-item {
}


.header__list-link {
    display: inline-block;
    padding:  0 12px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    

    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #f59d3b;
        top: 50%;
       opacity: 0;
       transition: all .5s;
     
    } 

}


.header__list-link:hover::before{
    opacity: 1;
    
    
}


.header__list-link--active{
    border-right:  2px solid #9f723f;
    border-left:  2px solid #9f723f;

}
.header__box {
   
	
	text-align: center;
		
	
	
}
.arrows {
    display: inline-block;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #eea651;
	border-right: 2px solid #eea651;
	transform: rotate(45deg);
	
	animation: animate 2s infinite;
}

@keyframes animate{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}


	
}

.header__down {
    padding: 30px 0 0 0 ;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 
}


.header__touch-link {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-right: 30px;
    transition: .5s;
    &::before{
        content: url(../images/header/arrow.svg);
        position: absolute;
        top: -10%;
        right:0 ;
     
    }

    &:hover{
        color: #eea651;
    }
}




.services {
    background-color: #202020;
    padding-bottom: 100px;
}


.global__top {
    position: relative;
    display: block;
    padding-top: 124px;
    padding-bottom: 60px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    &::before{
        content: "";
        position: absolute;
        width: 1px;
        height: 124px;
        background-color: #feb960;
        top: 0;

    }
  
}
.global__top-subtitle {
   color: #feb960; 
   text-transform: uppercase;
   font-size: 14px;
   margin-bottom: 31px;
   padding-top: 20px;
}

.global__top-title {
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    line-height: 65px;
}
.services__down {
    display: flex;
    justify-content: space-around;
}
.services__item {
    width: 235px;
    margin-right: 20px;
}

.services__info {
    padding: 30px 0;

}
.services__info-title {
    margin-bottom: 23px;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}
.services__info-text {
    margin-bottom: 35px;
    font-size: 14px;
    color: #bbbbbb;
    line-height: 27px;
}
.services__info-link {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    padding-right: 30px;
    transition: .5s;
    &::before{
        content: url(../images/header/arrow.svg);
        position: absolute;
        top: -10%;
        right:0 ;
     
    }

    &:hover{
        color: #eea651;
    }

}


// strategy-link начало //
.strategy {
    background-color: #202020;
    height: 110vh;
}

.strategy__inner {
    display: flex;
    justify-content: space-between;
}
.strategy__left {
    position: relative;
    width: 100%;
    background-image: url(../images/strategy/bg.jpg);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.strategy__left-title {
    display: inline-block;
    font-size: 30px;
    color: #232323;
    padding: 23px 37px ;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 151px;
  
 
}
.strategy__box {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: 3px solid #bababa;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    left: 23px;
    bottom: 30px;
    
}
.strategy__arrows{
    display: inline-block;
	width: 15px;
	height: 15px;
	border-bottom: 3px solid #bababa;
	border-right: 3px solid #bababa;
    transform: rotate(130deg);
    margin-top: 8px;
    margin-left: 5px;
    
  
	
	
}

.strategy__right {
    position: relative;
    display: inline-block;
    max-width: 605px;
    padding: 127px 0px 0 46px;
    &:before{
        content: "";
        position: absolute;
        width: 2px;
        height: 125px;
        background-color: #feb960 ;
        top: 0;
    }

}
.strategy__info {
    padding: 22px 0;
}
.strategy__info-title {
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 36px;
}
.strategy__info-text {
    margin-bottom: 36px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.929;
       
      
}
.strategy__info-text--one {
    margin-bottom: 36px;
}

.strategy__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    padding: 20px 0;

}
.strategy__content {
    display: flex;
    margin-bottom: 33px;

    &:nth-child(2){
        margin-right: 25px;
    }
  
    
}
.strategy__content-img {
    margin-right: 11px;
}
.strategy__content-progress {
    font-size: 15px;
    color: #fff;
}
.strategy__touch {
    display: inline-block;
    padding: 25px 64px 20px 37px ;
    background-color: #feb960;
}
.strategy__touch-link {
    
    font-size: 17px;
    color: #232323;
    text-transform: uppercase;
    line-height: 2px;
    position: relative;
    
    &::after{
        content: "→";
        position: absolute;
        font-size: 25px;
        top: 25%;
        right: -35px;
        
    }
}




// strategy-link конец //



